# Django Config
SECRET_KEY=replace-with-your-secret-key
DEBUG=True

# Database Config (Default matches docker-compose setup)
DB_NAME=gisdb
DB_USER=gisuser
DB_PASSWORD=gispass
DB_HOST=127.0.0.1
DB_PORT=5433
